:root {
  --text-color: #212121;
  --body-color: #f8f6f6;
}
body.dark {
  --text-color: #f8f6f6;
  --body-color: #080210;
}
* {
  font-family: "Lexend";
  scroll-behavior: smooth;
  overscroll-behavior: none;

  margin: 0;
  padding: 0;
  transition: 0.8s;
}
body {
  background-color: var(--body-color);

  height: 100vh;
}
#header {
  display: flex;
  position: sticky;
  align-items: center;
  box-sizing: border-box;
  justify-content: space-between;
  background-color: var(--body-color);

  top: 0;
  z-index: 2;
  height: 70px;
  padding: 20px;
}
h2 {
  color: var(--text-color);

  font-weight: 600;
  letter-spacing: -3%;
}
#btn-mobile {
  display: none;
  color: var(--text-color);
}
#menu {
  display: flex;
  list-style: none;
  overflow: visible;
  text-align: center;
  visibility: visible;
  text-decoration: none;
  justify-content: center;

  gap: 50px;
  font-size: 16px;
}
.toggle {
  cursor: pointer;
  text-align: center;
  position: relative;
  color: var(--text-color);

  width: 24px;
  width: 100%;
  height: 24px;
  font-size: 24px;
}
.toggle::before {
  content: "\F1D4";
  font-family: "Bootstrap-icons";
}
body.dark .toggle::before {
  content: "\F497";
}
#menu a {
  display: block;
  text-decoration: none;
  color: var(--text-color);

  padding: 5px 10px;
}
h3 {
  text-align: center;
  justify-items: center;
  color: var(--text-color);
}
.container {
  display: flex;
  align-items: center;

  width: 90vw;
  height: 100vh;
  margin: 0 auto;
}
.container-1 {
  display: flex;
  align-items: center;

  width: 90vw;
  height: 100vh;
  margin: 0 auto;
}
.box {
  display: flex;
  cursor: pointer;
  justify-content: space-between;

  margin: 10px;
  transition: 0.8s;
}
.box:hover,
.box:focus,
.box:active {
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
img {
  width: 380px;
  height: 280px;
}
p {
  text-align: center;
  color: var(--text-color);

  font-size: 16px;
  font-weight: 300;
}
h6 {
  text-align: center;
  color: var(--text-color);

  margin-top: 20px;
  font-size: 16px;
}
@media (max-width: 768px) {
  #header {
    display: flex;
    position: sticky;
    z-index: 2;

    top: 0;
  }
  #btn-mobile {
    display: flex;
    border: none;
    cursor: pointer;
    background: none;

    font-weight: 600;
  }
  #menu {
    display: block;
    position: absolute;
    overflow-y: hidden;
    visibility: hidden;

    right: 0;
    height: 0;
    top: 70px;
    width: 100%;
    z-index: 1000;
    transition: 0.8s;
    background-color: var(--body-color);
  }
  #nav.active #menu {
    height: 40vh;
    visibility: visible;
  }
  #menu a {
    margin: 0 1rem;
    padding: 1rem 0;
    border-bottom: 1px solid var(--text-color);
  }
  #hamburger {
    text-align: center;
    font-family: "Bootstrap-icons";

    font-size: 16px;
    margin-left: 5px;
    transition: 0.8s;
  }
  #hamburger::before {
    content: "\F479";
  }
  #nav.active #hamburger::before {
    content: "\F659";
  }
  .container {
    display: flex;
    flex-direction: column;

    width: 100vw;
    height: 100vh;
  }
  .container-1 {
    display: flex;

    width: 100vw;
    height: 100vh;
  }
  .box {
    display: flex;
    justify-content: center;
  }
  img {
    width: 340px;
    height: 240px;
  }
  p {
    margin: 12px;
  }
}
